CompileFlags:
  CompilationDatabase: build
  Add:
    - -Wno-unknown-attributes
    - -Wno-unused-template
    - -Wno-unused-member-function
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
Index:
  Background: Build
InlayHints:
  Enabled: false
