.settings
build
/Debug
.cache
Release
tools
/stinfo.txt
/mcore Debug.launch
/mcore Debug.cfg
/.mxproject
/.vscode/browse.vc.db
/.cache
/.vscode/BROWSE.VC.DB-shm
/.vscode/BROWSE.VC.DB-wal
/.vscode/BROWSE.VC.DB
